<app-location-details [selectedPlace] = "selectedPlace"></app-location-details>

<div class="search">
  <div [@moveInLeft]="state" class="search-bar">
    <h1>Stateside</h1>
    <div class="search-field">
      <form action="" #formData='ngForm' (ngModel)="stateSearch" (keyup.enter)="values=box.value">
        <input type="text" [formControl]="term" name="searchModel" placeholder="City Or State">
        <span class="input-group-btn">
          
          </span>
        <ul class="suggestions">
          <li *ngFor="let place of matchedArray" (click)="setSelectedPlace(place)">{{place.city}}
            <p>Population: {{place.pop}} </p>
          </li>
          <li>Search for city</li>
          <li>or a state</li>
        </ul>
        <table>
        </table>
      </form>
    </div>
  </div>
</div>


